.tab-content.active {
    display: block;
    width: 100%;
    overflow: hidden;
}

.table-flex-container {
    display: flex;
    gap: 15px;
}

.table-container {
    margin-top: 30px;
}

.table-wrap-container {
    overflow-x: auto;
}
.image-download-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 400px;
    border-radius: 10px;
    border: 2px solid #000;
}
p.image-caption {
    color: #666;
    margin-top: 10px;
    font-style: italic;
    color: #666;
    font-size: 0.9rem;
}
a.download-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #004080;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 10px;
}
@media screen and (max-width: 768px) {
    .table-flex-container{
        flex-direction: column;
    }
    .product-image {
    width: 200px;
    }
}